<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <meta lang="en">
    <meta name="rating" content="General">
    <meta name="description" content="foo bar baz"> {# TODO: figure out description system #}
    <link href="{{ siteUrl }}humans.txt" rel="author">
    <link href="{{ siteUrl }}copyright.txt" rel="copyright"> {# TODO: create copyright text file #}
    <link href="{{ siteUrl }}css/app.css" rel="stylesheet">
  </head>
  <body>
    {% include '_header' %}

    <main role="main">
      {% block content %}
        <div class="row column">
          <p>Woops! Looks like something went wrong here. Better call the developers!</p>
        </div>
      {% endblock %}
    </main>

    {% include '_footer' %}
  </body>
</html>
